.products {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 855px) {
    .products {
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    .products {
        margin: 0;
    }
}