.form__element {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__element-label {
    width: 150px;
    font-size: 1.5rem;
}

.form__element-input {
    width: 70%;
    height: 2.5rem;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

input:focus {
    outline: none;
    border: 2px solid #ade498;
}

@media screen and (max-width: 600px) {
    .form__element-label {
        display: none;
    }
}